@page
@{
    ViewData["Title"] = "AboutUs";
}



<h1>AboutUs</h1>
<br />
<br />
<div class="float-right">
    <img src="~/lib/Resources/AdobeStock_211458797_Preview.jpeg" alt="Concert2" style="width:1125px;height:256px;" />
    <h2>Who Are We? </h2>
    <p>
        At ConcertFit, we strive to put fans first. Every day we're listening to you and working to improve your experience before events.
        In 2019, Concertfit was established by three students of University of Cincinnati MSIS. It is the integration of Spotify and Ticket Master.Live Nation merged to create Live Nation Entertainment. Now you have more options than ever to enjoy live events, and things are only getting better.
        We're making real changes and helping you to enjoy the events more and more by easy access of artists' songs. Here's just a taste of what we're up to...
    </p>
</div>
<br />
<div class="float-right">
    <img src="~/lib/Resources/AdobeStock_208487214_Preview.jpeg" alt="Concert1" style="width:1125px;height:256px;" />
    <h2> What Do We Do? </h2>
    <p>
        <strong>ConcertFit</strong> is an integration website of Spotify and and TicketMaster. We fetch artists, who has coming concert in Cincinnati,
        from both Spotify and TicketMaster. Our purpose to give better opinion about the events to the user. If you don't know an artist well, you can surf on
        ConcertFit to know any artist better. Concertfit displays sample top ten song of artist and event details. If you want to listen
        more, it links you Spotify. Moreover, it connects you the leader event ticket sales company, Ticket Master, if you like and buy a ticket for an event
        For the coming year, we display three concert in Cincinnati for different three artists as of now. However, we are planning to enrich our
        website with more artists and more events in the near future.
    </p>
</div>
<br />
<h2>Our Network</h2>
<br />
<div>
    <img src="~/lib/Resources/Ticketmaster-Logo-Azure-CMYK.png" alt="TicketMaster" style="width:30%;height:30%;" />
    <p>
        <br />
        <a href="https://www.ticketmaster.com/?tm_link=tm_logo">Ticketmaster Entertainment, Inc. </a> is an American ticket sales and distribution company based in Beverly Hills, California with
        operations in many countries around the world. In 2010 it merged with Live Nation under the name Live Nation Entertainment.
    </p>
    <br />
    <img src="~/lib/Resources/Spotify_Icon_RGB_Green.png" alt="Spotify" style="width:10%;height:10%;" />   
    <p>
        <br />
        <a href="https://www.spotify.com/us/premium/?utm_source=us-en_brand_contextual-desktop_text&utm_medium=paidsearch&utm_campaign=alwayson_ucanz_us_performancemarketing_core_brand+contextual-desktop+text+exact+us-en+google&gclid=Cj0KCQiAiZPvBRDZARIsAORkq7fW9JdydJjlfXGD6weRVSiaR6ax0-wlLrEk4dBMtngjLme2bUdT5FcaAsCIEALw_wcB&gclsrc=aw.ds"> Spotify</a>  is a digital music, podcast, and video streaming service that gives you access to millions of songs and other content from artists all over the world.
    </p>
</div>
<br />
<br />
<br />
<br />




