@page
@{
    ViewData["Title"] = "Artists";
}

<h1>Artists</h1>
<br />
<h4>The Artists Signed up are:</h4>
<table class="imagetable">
    <tr>
        <th>Artist Name</th>
        <th>Age</th>
        <th>Official Website</th>
        <th>Signed Up Date</th>
        <th>Image</th>
    </tr>
    <tr>
        <td>Darius Rucker</td>
        <td>53</td>
        <td><a href="https://www.dariusrucker.com">https://www.dariusrucker.com</a></td>
        <td>29th November,2019</td>
        <td><img src="https://i.scdn.co/image/c871a5e597ffbc86d77a2bea242ea7c0b9ec57d6" height="200" width="200"></td>
    </tr>
    <tr>
        <td>Billy Joel</td>
        <td>70</td>
        <td><a href="https://www.billyjoel.com">https://www.billyjoel.com</a></td>
        <td>25th November,2019</td>
        <td><img src="https://i.scdn.co/image/ab67616d00001e02814cbc4746358a25c84c62e7" height="200" width="200"></td>
    </tr>
    <tr>
        <td>Dermot Kennedy</td>
        <td>27</td>
        <td><a href="www.dermotkennedy.com">http://www.dermotkennedy.com</a></td>
        <td>24th November,2019</td>
        <td><img src="https://i.scdn.co/image/3f0272d6d1a83e32d7931711068a808ec921527e" height="200" width="200"></td>
    </tr>
</table>
