@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ConcertfitApiResponse.TopLevel[] topLevels = (ConcertfitApiResponse.TopLevel[])ViewData["concertfitResponse"];
}

<div class="test">
    <h1 class="display-4">Welcome To Concertfit!</h1>
    <br />
</div>
<div>
    <p>To know more about the concertfit <a href="/AboutUs">here</a>.</p>
    <p>To know more about the Artists <a href="/Artists">here</a>.</p>
    <p>Access the concertfit api <a href="/api">here</a>.</p>
</div>
<form>
    <select onchange="showArtistDetails(this.value)">
        <option value="" selected disabled hidden>Select an Artist</option>
        @{
            foreach (ConcertfitApiResponse.TopLevel topLevel in topLevels)
            {
                <option value=@topLevel.Artist>@topLevel.Artist</option>
            }
        }
    </select>
</form>

<div id="artistDetails"></div>

<script>
    function showArtistDetails(str) {
        if (str == "") {
            document.getElementById("txtHint").innerHTML = "";
            return;
        }
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("artistDetails").innerHTML = this.responseText;
            }
        }
        xmlhttp.open("GET", "getartist?q=" + str, true);
        xmlhttp.send();
    }
</script>
