@page
@model concertfit.Pages.TicketMasterModel
@{
    ViewData["Title"] = "TicketMaster";
    var name = ViewData["MyName"];
    var age = ViewData["age"];
}

<h1>TicketMaster</h1>

<!--h2>My Name: @name</!--h2>>
<h2>Age: @age</h2>>-->
